.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color1);
    min-width: 320px;
    width: 70%;
    color: var(--txt-color1);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--txt-color1);
    border: 1px solid var(--txt-dark-color1);
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--txt-color1);
    border: 1px solid var(--txt-dark-color1);
}

.input{
    flex:1;
    padding: 0.5rem;
    border: 1px solid var(--txt-dark-color1);
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--bg-color2);
    color: var(--txt-color1);
}
.messages{
    max-height: 70vh;
    overflow-y: auto;
    
}

.messages::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    
  }
  
  .messages::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .messages::-webkit-scrollbar-thumb {
    background-color: var(--txt-dark-color2);
  }
  
  .messages::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

.button{
    padding: 0.5rem;
    border: 1px solid var(--txt-dark-color1);
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--txt-color1);
}

.button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.messageContainer{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--txt-dark-color1);
    margin: 1rem;
}

.message{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.messageTime{
    font-size: 0.8rem;
    color: var(--txt-dark-color2);
    font-style: italic;
}

.messageFromOtherUser{
    background-color: var(--secondary-color);
    margin-right: auto;
}

.messageFromLoggedInUser{
    background-color: var(--my-msg-bg-color);
    margin-left: auto;
}