.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color1);
    min-width: 320px;
    width: 70%;
    color: var(--txt-color1);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--bg-color2);
    color: var(--txt-color1);
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--txt-color1);
}

.input{
    flex:1;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: var(--bg-color2);
    color: var(--txt-color1);
}
.messages{
    max-height: 70vh;
    overflow-y: auto;
    
}

.messages::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;  
}
  
.messages::-webkit-scrollbar-track {
    background: transparent; 
}
  
.messages::-webkit-scrollbar-thumb {
    background-color: var(--bg-color2);
}
  
.messages::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.button{
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--txt-color1);
}

.button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.messageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--txt-dark-color1);
    margin: 1rem;
}

.message{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 0.5rem;
    max-width: 40%;
    
}

.messageContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.messageText{
    padding: 0.6rem;
    border-radius: 0.3rem;
    line-break: anywhere;
    word-break: break-all;
}

.messageTime{
    font-size: 0.8rem;
    color: var(--txt-color2);
    font-style: italic;
}

.messageFromOtherUser .messageText{
    background-color: var(--secondary-color);
}
.messageFromOtherUser{
    margin-right: auto;
    gap: 1rem;
}

.messageFromLoggedInUser .messageText{
    background-color: var(--my-msg-bg-color);
}
.messageFromLoggedInUser{
    margin-left: auto;
    flex-direction: row-reverse;
    gap: 1rem;
}

.profilePic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.profilePic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.senderUsername{
    width: fit-content;
    text-align: left;
    color: var(--txt-color2);
    font-size: 0.8rem;
    font-style: italic;
}

.profilePic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.profilePic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backArrow:hover{
    cursor: pointer;
}