.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bg-color1);
    height: 95vh;
    min-width: 320px;
    width: 30%;
    color: var(--txt-color1);
}