.window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.container{
    position: relative;
    max-width: 800px;
    min-width: 45%;
    background-color: var(--bg-color1);
    color: var(--txt-color1);
 
    box-shadow: 0 0 10px black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color3);
    color: var(--txt-light-color1);
}

.close{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover{
    color: var(--txt-dark-color1);
    scale: 1.1;
}


.title{
    font-size: 1.2rem;
    text-align: center;
}

.button{
    border: none;
    background-color: transparent;
    color: var(--txt-color1);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.bigGroup{
    margin: 1rem;
    display: flex;
    flex: 1/1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.input{
    border: none;
    border-radius: 0.2rem;
    background-color: var(--bg-color2);
    color: var(--txt-color1);
    padding: 0.5rem;
}

